.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  position: relative;
}

.card__element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 25px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card__name {
  font-family: "Inter", Arial, sans-serif;
  margin: 0;
}
.card__vector {
  width: 21px;
  height: 19px;
}
.card__image {
  width: 100%;
}

.card__trash {
  display: flex;
  /* flex-direction: column; */
  position: absolute;
  top: 18px;
  right: 15px;
}
.card__trashy:hover {
  opacity: 0.7; /* Adjust the opacity value as desired */
}
