.profile {
  font-family: "Inter", Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  max-width: 880px;
  margin: auto;
}
.profile__avatar {
  display: flex;
  align-items: center;
}

.profile__picture {
  width: 168px;
  max-width: 100%;
  border-radius: 50%;
}

.profile__info {
  display: flex;
  justify-content: space-between;
  /*width: 415px;*/
  max-width: 100%;
  padding: 0 30px;
}
.profile__name {
  margin: 0;
}

.profile__details {
  color: white;
}
.profile__edit {
  padding: 5px 10px;
}
.profile__add {
}

.profile__add-button {
}
@media screen and (width<550px) {
  .profile {
    flex-direction: column;
    text-align: center;
  }
  .profile__avatar {
    flex-direction: column;
  }
  .profile__name {
    font-size: 22px;
  }
  .profile__description {
    font-size: 14px;
  }
  .profile__add-button {
    width: 282px;
    height: 50px;
  }
}
